<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BurgerShopTesting" configfailurepolicy="continue">
	<test name="BurgerShopTesting" group-by-instances="true" preserve-order="true">
    	<parameter name = "browser" value = "Chrome"/>  
    	<classes>
			<!--<class name = "TestSuite.AccountMnt.Register"/>-->  
            <!--<class name = "TestSuite.AccountMnt.Login"/> -->

	        <!--<class name = "TestSuite.ProductMnt.Create"/>  --> 
            <!--<class name = "TestSuite.ProductMnt.Edit"/>-->  
            <class name = "TestSuite.ProductMnt.Delete"/> 
            <!--<class name = "TestSuite.ProductMnt.Duplicate"/>-->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->